body{
  font-family: ubuntu-bold;
  text-align: center;
}
.row.s {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: unset;
  margin-right: 0px;
  margin-left: 0px;
  height: 100px;
}

.row {
  
  flex-wrap: unset;
  margin-right: 0px;
  margin-left: 0px;
}

.signEmail{
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  width: 100%;
  padding-right: 5px;
  padding-left: 5px;
}